// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

@import "compass/utilities/lists/bullets";

body { padding: 0 20px; }

h1 {
  font-size: 32px;
  margin: 15px 0;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

ul {
  list-style-type: disc;

  li { margin-left: 20px; }
}

ul.social {
  list-style-type: none;

  li {
    line-height: normal;
  }

  > li {
    padding-left: 38px;
    min-height: 32px;
    line-height: 32px;
  }

  .twitter {
    background: url(../../images/twitter_32.png) no-repeat;
  }

  .github {
    background: url(../../images/github_32.png) no-repeat;
  }
}
